*{
    box-sizing: border-box;
}
body{
    color: white;
    background-color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    text-align: center;
    color: white;
    background: black;
    padding: 20px;
}
span{
    color: black;
    text-align: left;
}
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
section{
    
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.wraper
{
    border: 2px solid gray;
    border-radius: 16px;
    padding: 15px;
    margin: 15px;
    box-shadow: 10px 10px 5px;
    background-color: white;
}
.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    column-gap: 20px;
    row-gap: 20px;
    text-align: center;
}
.box1{
    width: 70%;
    height: 500px;
    box-sizing: border-box;
    border: 2px solid gray;
    border-radius: 16px;
    box-shadow: 10px 10px 5px;
    background-color: white;
    overflow: auto;
}
.box2{
    width: 70%;
    height: 500px;
    box-sizing: border-box;
    border: 2px solid gray;
    border-radius: 16px;
    box-shadow: 10px 10px 5px;
    background-color: white;
    overflow: auto;
}

footer{
    text-align: center;
    background: black;
    margin: 10;
    padding: 40px 40px;
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 600px) {
    #main {
        width: 100%;
    }
}

/* Media Queries: Tabled Portrait */
@media screen and (min-width: 601px) {
    #main {
        width: 100%;
    }
   
}
@media screen and (min-width: 786px) {
    #main {
        width: 100%;
    }
   
}
@media screen and (min-width: 922px) {
    #main {
        width: 100%;
    }

}
@media screen and (min-width: 1200px) {
    #main {
        width: 100%;
    }

}

